.about_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about_wrapper .h6 {
    position: relative;
    z-index: 100;
}
.about_wrapper div{
    position: relative;
}