.icon_button {
    --size:100px;
    display: grid;
    place-items: center;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
}
.icon_wrapper{
    /* transition: 0.2s ease-out; */
    pointer-events: none;
}
.icon_button:hover {
    /* scale: 1.2; */
}
.icon_button:active {
    /* scale: 1; */
}
