.projects_wrapper{
    width: 100%;
    display: grid;
    gap: 1rem;
    /* margin-top: -10rem; */
}
#projects {
    /* margin-top: 3rem; */
    display: grid;
    gap: 5rem;
}

.project {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    padding-bottom: var(--padding_bottom);
    border-bottom: 2px solid var(--border_bottom);
}

.project_display {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    background: #00000042;
}
.project_title--wrapper{
    display: flex;
}
.project_title {
    cursor: pointer;
}