#pointer,
#pointer_shadow {
    z-index: 2000;
    position: fixed;
    left: var(--x);
    top: var(--y);
    translate: -50% -50%;
    mix-blend-mode: difference;
    pointer-events: none;
}

#pointer {
    --pointer_size: 10px;
    width: var(--pointer_size);
    height: var(--pointer_size);
    border-radius: 50%;
    background: #ffffff;
    transition: scale 0.2s ease-out;
}

.expand {
    /* scale: 5; */
}

#pointer_shadow {
    --border_size: 15px;

    position: fixed;
    left: var(--psx);
    top: var(--psy);
    width: var(--border_size);
    height: var(--border_size);
    border-radius: 50%;
    /* background: #000; */
    transition: 0.5s ease-out;
}