#pointer,
#pointer_shadow {
    z-index: 2000;
    position: fixed;
    left: var(--x);
    top: var(--y);
    translate: -50% -50%;
    mix-blend-mode: difference;
    pointer-events: none;
}

#pointer {
    --pointer_size: 10px;
    width: var(--pointer_size);
    height: var(--pointer_size);
    border-radius: 50%;
    background-color: #ffffff;
    transition: scale 0.2s ease-out;
}

.invert {
    background-color: #6200ff !important;
    z-index: 150 !important;
    mix-blend-mode: unset !important;
    transition: 0.2s ease-out;
}