::-webkit-scrollbar {
  /* display: none; */
}

html {
  scroll-snap-type: y mandatory;
  height: 100%;
}

#App {
  position: relative;
  height: 100%;
}

a {
  all: unset;
}

.motion {
  /* background-color: #fff;
  width: 500px;
  height: 500px; */
}

main {
  position: relative;
  isolation: isolate;
  width: 100%;
  /* display: grid;
  grid-area: 100px; */
}

section {
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
  padding-inline: 16rem 5rem;
  margin-bottom: 1px;
  /* padding-block: 15rem; */
}

.title {
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 3rem;
  z-index: 151;
}

.dark {
  background: var(--border_bottom);
}

.gutter {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.gutter-top {
  padding-top: var(--gutter);
}

.gutter-bottom {
  padding-bottom: var(--gutter);
}

.bold_text {
  font-size: var(--hero_name);
  font-weight: 900;
  letter-spacing: 5px;
  margin-left: -0.065em;
  text-transform: uppercase;
}

.h6 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 4rem;
  letter-spacing: 0.15em;
  color: white;
}

.h5 {
  position: relative;
  font-size: 1.125rem;
  color: #ffffff;
  z-index: 200;
}

/* ///////////////////////////// */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media (max-width: 1200px) {
  section {
    padding-inline: 14rem 5rem;
  }

}

@media (max-width: 1024px) {
  :root {
    --gutter: 8rem !important;
    font-size: 14px;
  }

  section {
    padding-inline: 14rem 3rem;
  }

  .hero_content {
    padding-block: 15rem 10rem !important;
  }

  .project {
    flex-direction: column;
  }

  #expertise {
    gap: 4rem 4rem !important;
  }

}

@media (max-width: 768px) {
  :root {
    --gutter: 6rem !important;
    font-size: 14px;
  }

  section {
    padding-inline: 12rem 3rem;
  }

  .hero_content {
    padding-block: 14rem 10rem !important;
  }

  #expertise {
    gap: 2rem 4rem !important;
  }

}

@media (max-width: 480px) {
  #header {
    display: none !important;
  }
  #navbar{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: #000;
    z-index: 200;
    transition: 1s;
  }
  .navbar--active{
    width: 70% !important;

  }
  #backdrop {
    position: fixed;
    top: 5rem;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    transition: 0.2s;
    opacity: 0;
    transition: 0.2s;
    z-index: -1;
  }

  .backdrop--active {
    display: block !important;
    opacity: 1 !important;
    z-index: 100 !important;
    backdrop-filter: blur(5px);
  }

  #header_mobile {
    background: var(--border_bottom);
    width: 100%;
    height: 5rem !important;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    font-size: 1.6rem !important;
  }

  .nav_icon {
    position: relative;
    width: 20px;
    height: 15px;
    transition: 1s;
    z-index: 300;
    translate: -50px 26px;
  }

  .nav_icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 1;
    transform-origin: center;
    top: 0;
    translate: 0 -50%;
  }

  .nav_icon span:nth-child(2) {
    top: 50%;
  }

  .nav_icon span:nth-child(3) {
    top: 100%;
  }

  .nav_icon--active {
    justify-content: center !important;
    rotate: -90deg;
    translate: 30px 26px;
  }

  .nav_icon--active span:nth-child(2) {
    opacity: 0;
    display: none;
  }

  .nav_icon--active span:nth-child(1) {
    top: 50%;
    rotate: 45deg;
  }

  .nav_icon--active span:nth-child(3) {
    top: 50%;
    rotate: -45deg;
  }

  :root {
    --gutter: 5rem !important;
    --padding: 3rem 2rem;
    --padding_bottom: 4rem !important;
    --hero_name: 3rem !important;
    font-size: 14px;
  }

  #pointer {
    display: none;
  }

  section {
    padding-inline: 15px;
    text-align: center;
    display: grid;
  }

  .hero_content {
    padding-block: 10rem 5rem !important;
    height: 100vh;
    height: 100svh;
  }

  #hero_desc,
  .about_wrapper,
  .skills,
  .project,
  .skill_wrapper {
    justify-content: center;
    align-items: center !important;
  }

  .hero_content .hero_name {
    margin-top: 0 !important;
  }

  #expertise,
  #projects {
    gap: 2rem !important;
  }

  .h6 {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  .skills {
    gap: 1.8rem !important;
  }

  .icon_button {
    --size: 50px !important;
  }

  .contents {
    gap: 2rem !important;
    justify-items: center;
  }

  .contents .h6 {
    line-height: 3rem !important;
  }

  .links {
    margin-left: 0px !important;
    justify-content: space-between;
    gap: 2rem !important;
  }

  .contactMe {
    margin-block: 5rem !important;
  }

  #works {
    padding-bottom: 0;
  }
}