@font-face {
  font-family: "DrukCond";
  src: url("./assets/font/Druk_Collection/DrukCondensedFamily/DrukXCond-Super-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Druk";
  src: url("./assets/font/Druk_Collection/DrukFamily/Druk-Medium-Trial.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* Typography */
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  --font-hero: "DrukCond", sans-serif;
  --font-display: "Druk", sans-serif;
  --font-subheading: monospace, sans-serif;

  /* Colors */
  --bg-primary: #0a0a0a;
  --accent: #ffffff;
  --accent-rgb: 255, 255, 255;
  --text-primary: #ffffff;
  --text-secondary: rgb(255 255 255 / 65%);

  color: var(--text-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  transition: background-color 0.5s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: clip;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.display-font {
  font-family: var(--font-display);
  text-transform: uppercase;
  /* line-height: 0.85; */
}

.sub-font {
  font-family: var(--font-subheading);
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.hero-font {
  font-family: var(--font-hero);
  text-transform: uppercase;
  letter-spacing: 1px;
}
