.blob_wrapper {
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    /* overflow: hidden; */
    z-index: -1;
}

.blob {
    --delay: 0s;
    position: absolute;
    left: var(--left);
    top: var(--top);
    translate: -50% -50%;
    background-color: var(--blob);
    /* background-image: radial-gradient(ellipse farthest-side, var(--blob), transparent); */
    width: 500px;
    height: 500px;
    scale: var(--scale);
    animation: pulse 1s infinite alternate;
    pointer-events: none;
    border-radius: 50%;
}

@keyframes pulse {
    to {
        /* scale: calc(var(--scale)*1.4); */
    }
}